extends layout

block content
  h1= 'GIEŁDA MEMÓW'
  h2= message
        ul(class='memeList')
            each meme in memes
                li(class='meme')
                   a(href="/meme/" + meme.id class='memeLink') #{meme.title}
                   img(src=meme.fileurl class='memeImg')
                   p(class='memePrice') #{'Cena: ' + meme.price}
        button(onclick=`window.location.href='${logged ? '/logout' : '/login'}'`) #{logged ? 'Wyloguj' : 'Zaloguj'}
